! Configuração Inicial de Boot - Huawei VRP / NE40E (AS 65100)
sysname Borda-Huawei
#
interface GigabitEthernet1/0/0
 description Link-Operadora-1
 ip address 100.64.1.2 255.255.255.252
#
interface GigabitEthernet1/0/1
 description Link-Operadora-2
 ip address 100.64.2.2 255.255.255.252
#
interface LoopBack0
 ip address 200.100.0.1 255.255.252.0
#
bgp 65100
 router-id 100.64.1.2
 peer 100.64.1.1 as-number 65001
 peer 100.64.1.1 description Upstream-Operadora-1
 peer 100.64.2.1 as-number 65002
 peer 100.64.2.1 description Upstream-Operadora-2
 #
 ipv4-family unicast
  undo synchronization
  network 200.100.0.0 255.255.252.0
  peer 100.64.1.1 enable
  peer 100.64.2.1 enable
#
return
